aiohttp>=3.4.4
codecov
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py
dnspython
lxml
motor
numpy
opencv-python
osuapi
Pillow
psutil
pytest
pytest-cov
pytest-pep8
scipy
sklearn
uvloop
